@using PMS.Service.ViewModels.Employee

@model EmployeeWithRoleViewModel

<a class="employee" href="@Url.Action("Index", "Employee", new { id = Model.Id }, null)">
    <li><span class="employee-name">@Model.UserName</span><span class="employee-role">@Model.Role</span></li>
</a>

<style>
	.employee {
		background-color: #27AE60;
		padding: 5px 10px;
		border-radius: 20px;
		font-size: 14px;
		margin-right: 10px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.employee-name {
		color: var(--primary-color);
		font-weight: bold;
		margin-right: 10px;
	}

	.employee-role {
		color: var(--default-color);
		font-style: italic;
	}
</style>