<a class="employee" style="color: #fff;" asp-area="" asp-controller="Employee" asp-action="Index">
    <li><span class="employee-name">John Smith</span><span class="employee-role">Project Manager</span></li>
</a>

<style>
	.employee {
		background-color: #27AE60;
		padding: 5px 10px;
		border-radius: 20px;
		font-size: 14px;
		margin-right: 10px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.employee-name {
		font-weight: bold;
		margin-right: 10px;
	}

	.employee-role {
		color: #666;
		font-style: italic;
	}
</style>