@using PMS.Service.ViewModels.Employee;

@model EmployeeViewModel

<div class="employee">
    <li>
        <img class="avatar" src="@Model.ProfilePicture" onerror="this.src='/images/profile.png'" alt="Profile Picture">
        </img>
        <span class="emplname">@Model.Name</span>
    </li>
</div>

<style>
   .employee {
		flex-basis: calc(50% - 10px);
		margin-top: 5px;
        margin-right: 20px;
		margin-bottom: 15px;
		background-color: var(--secondary-color);
		box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		padding: 20px;
		box-sizing: border-box;
	}
    .employee li {
		align-items: center;
		display: flex;
  		flex-wrap: wrap;
	}
    .employee .avatar {
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 10px;
		background-color: var(--third-color);
		background-position: center;
		background-size: cover;
	}

	.emplname{
		color: var(--text-color);
	}
</style>