<div class=project>
    <li>
        <span class="projname">Project A</span>
        <span class="status in-progress">In Progress</span>
    </li>
</div>

<style>
    .project{
        flex-basis: calc(50% - 10px);
		margin-top: 5px;
        margin-right: 20px;
		margin-left: 5px;
		margin-bottom: 15px;
		background-color: var(--secondary-color);
		box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		padding: 20px;
		box-sizing: border-box;
    }

    .project .status {
		display: inline-block;
		padding: 5px 10px;
		border-radius: 20px;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		margin-right: 10px;
		color: var(--primary-color);
	}

	.project .status.in-progress {
		background-color: #fbbd08;
	}

	.project .status.complete {
		background-color: #21ba45;
	}

	.project .status.delayed {
		background-color: #db2828;
	}

	.projname{
		color: var(--text-color);
	}
</style>