<div class=sidebar>
    <div class="rectangle_1"></div>
    <a class="projectname" asp-area="" asp-controller="Dashboard" asp-action="Index">
        <div class=projecticon>
            <span class="material-symbols-outlined">
                grain
            </span>
        </div><span class="projectnametext">PMS</span>
    </a>
    <a class="dashboard" asp-area="" asp-controller="Dashboard" asp-action="Index">
        <div class=dashboardicon>
            <span class="material-symbols-outlined">
                grid_view
            </span>
        </div><span class="dashboardtext">Dashboard</span>
    </a>
    <a class="boardbar" asp-area="" asp-controller="Board" asp-action="Index">
        <div class=boardicon>
            <span class="material-symbols-outlined">
                space_dashboard
            </span>
        </div><span class="boardtext">Board</span>
        <span class="icon"><i class="fa fa-clock-o"></i></span>
    </a>
    <a class="analytics" asp-area="" asp-controller="Analytics" asp-action="Index">
        <div class=analyticsicon>
            <span class="material-symbols-outlined">
                database
            </span>
        </div><span class="analyticstext">Analytics</span>
    </a>
    <a class="settings" asp-area="" asp-controller="Settings" asp-action="Index">
        <div class=settingsicon>
            <span class="material-symbols-outlined">
                settings
            </span>
        </div><span class="settingstext">Settings</span>
    </a>
    <div class="logout pointer">
        <div class=logouticon>
            <span class="material-symbols-outlined">
                logout
            </span>
        </div><span class="logouttext">Log out</span>
    </div>
</div>