<div class=tile>
	<div class="rectangle_292">
		<div class=tiletitle><span class="design_system">DESIGN SYSTEM</span>
			<div class="ellipse_2"></div>
		</div>
		<span class="hero_section">Hero section</span>
		<span class="hero_content">Create a design system for a hero section in 2 different variants. Create a simple
			presentation
			with these components.</span>
		<div class=user2>
			<div class="ellipse_3"></div><span class="vh">VH</span>
		</div>
	</div>
</div>

<style>
	.tile {
		width: 312px;
		height: 207px;
		position: relative;
		left: 24px;
		margin-top: 10px;
	}

	.rectangle_292 {
		background-color: var(--primary-color);
		width: 312px;
		height: 207px;
		position: relative;
		left: -5px;
		top: 0px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	.tiletitle {
		width: 106px;
		height: 18px;
		position: relative;
		left: 24px;
	}

	.design_system {
		color: var(--default-color);
		width: 92px;
		height: 18px;
		position: relative;
		left: 20px;
		top: 15px;
		font-family: Poppins;
		text-align: left;
		font-size: 12px;
		letter-spacing: 0;
	}

	.ellipse_2 {
		border-radius: 500px;
		background-color: var(--default-color);
		width: 9px;
		height: 9px;
		position: inherit;
		left: 0px;
		top: 1px;
	}

	.hero_section {
		color: var(--text-color);
		width: 113px;
		height: 27px;
		position: inherit;
		left: 24px;
		top: 32px;
		font-family: Poppins;
		text-align: left;
		font-size: 18px;
		letter-spacing: 0;
	}

	.hero_content {
		color: var(--text-color);
		position: relative;
		float: left;
		top: 32px;
		font-family: Poppins;
		font-size: 14px;
		letter-spacing: 0;
		margin-left: 23px;
		margin-right: 10px;
	}

	.tilemore {
		width: 16px;
		height: 2px;
		position: inherit;
		left: 272px;
		top: 30px;
	}

	.user2 {
		width: 29px;
		height: 29px;
		position: relative;
		left: 24px;
		top: 120px;
	}

	.ellipse_3 {
		border-radius: 500px;
		background-color: var(--default-color);
		width: 29px;
		height: 29px;
		position: inherit;
		left: 0px;
		top: 0px;
	}

	.vh {
		color: var(--primary-color);
		position: relative;
		bottom: 82px;
		left: 6px;
		font-family: Poppins;
		font-size: 12px;
		letter-spacing: 0;
	}
</style>