<div class=tile>
    <div class="rectangle_292"></div>
    <div class=tiletitle><span class="design_system">DESIGN SYSTEM</span>
        <div class="ellipse_2"></div>
    </div><span class="hero_section">Hero section</span><span
        class="create_a_design_system_for_a_hero_section_in_2_different_variants__create_a_simple_presentation_with_these_components_">Create
        a design system for a hero section in 2 different variants. Create a simple presentation
        with these components.</span>
    <div class=tilemore>
    </div>
    <div class=user2>
        <div class="ellipse_3"></div><span class="vh">VH</span>
    </div>
    <div class=user1>
        <div class="ellipse_3"></div><span class="ag">AG</span>
    </div>
</div>