<div class=topbar>
    <div class="ellipse_1" ></div>
    <span class="board">@ViewData["Title"]</span>
    <div class=filter>
        <span class="this_week">This week</span>
        <div class="vector_14">
            <span class="material-symbols-outlined">
                expand_more
            </span>
        </div>
    </div>
    <div class=notif>
        <span class="material-symbols-outlined">
            notifications
        </span>
    </div>
    <div class=search><span class="searchtext">Search</span>
        <div class=searchicon>
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
    </div>
    <div class=questions>
        <span class="material-symbols-outlined">
            help
        </span>
    </div>
</div>