<div class=topbar>
    <div class="ellipse_1" ></div>
    <span class="name">@ViewData["Title"]</span>
    <div class=filter>
        <span class="this_week">This week</span>
        <div class="vector_14">
            <span class="material-symbols-outlined">
                expand_more
            </span>
        </div>
    </div>
    <div class=notif>
        <span class="material-symbols-outlined">
            notifications
        </span>
    </div>
    <div class=search><span class="searchtext">Search</span>
        <div class=searchicon>
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
    </div>
    <a class=questions asp-area="" asp-controller="Info" asp-action="Index">
        <span class="material-symbols-outlined">
            help
        </span>
    </a>
</div>

<style>
    .topbar { 
	width:1127px;
	height:121px;
	position:inherit;
	left:1px;
	top:0px;
}

.ellipse_1 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:32px;
	height:32px;
	position:inherit;
	left:1095px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}

.name { 
	color:rgba(0, 0, 0, 1);
	width:88px;
	height:44px;
	position:inherit;
	left:0px;
	top:77px;
	font-family:Poppins;
	text-align:left;
	font-size:29px;
	letter-spacing:0;
}

.filter { 
	width:96px;
	height:24px;
	position:inherit;
	left:1025px;
	top:89px;
}

.this_week { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:24px;
	position:inherit;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}

.vector_14 { 
	width:11px;
	height:5px;
	position:inherit;
	left:80px;
	top:0px;
}

.notif { 
	width:18px;
	height:19.996456146240234px;
	position:inherit;
	left:981px;
	top:6px;
}

.search { 
	width:91px;
	height:24px;
	position:inherit;
	left:34px;
	top:0px;
	color:rgba(111.5625, 111.5625, 111.5625, 1);
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}

.searchtext{
  width:91px;
	height:24px;
	position:inherit;
	left:34px;
	top:3px;
	color:rgba(111.5625, 111.5625, 111.5625, 1);
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}

.searchicon { 
	width:17.9999942779541px;
	height:17.9999942779541px;
	position:inherit;
	left:0px;
	top:4px;
}

.questions { 
	width:20px;
	height:20px;
	position:inherit;
	left:1037px;
	top:6px;
}
</style>