<div class=topbar>
	<a asp-area="" asp-controller="Employee" asp-action="Index">
		<img class="ellipse_1" src="https://randomuser.me/api/portraits/men/11.jpg" onerror="this.src='~/images/profile.png'" alt="Profile Picture">
	</a>
	<span class="name">@ViewData["Title"]</span>
	<div class=filter>
		<span class="this_week">This week</span>
		<div class="vector_14">
			<span class="material-symbols-outlined">
				expand_more
			</span>
		</div>
	</div>
	<div class=notif>
		<span class="material-symbols-outlined">
			notifications
		</span>
	</div>
	<div class=search><span class="searchtext">Search</span>
		<div class=searchicon>
			<span class="material-symbols-outlined">
				search
			</span>
		</div>
	</div>
	<a class=questions asp-area="" asp-controller="Info" asp-action="Index">
		<span class="material-symbols-outlined">
			help
		</span>
	</a>
</div>

<style>
	.topbar {
		width: 1127px;
		height: 121px;
		position: inherit;
		left: 1px;
		top: 0px;
	}

	.ellipse_1 {
		position: inherit;
		float:right;
		right: 0;
		top: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 10px;
		background-color: var(--default-color);
		background-position: center;
		background-size: cover;
	}

	.name {
		color: var(--text-color);
		width: 200px;
		height: 50px;
		position: inherit;
		left: 0px;
		top: 77px;
		font-family: Poppins;
		text-align: left;
		font-size: 29px;
		letter-spacing: 0;
	}

	.filter {
		width: 96px;
		height: 24px;
		position: inherit;
		left: 1025px;
		top: 89px;
	}

	.this_week {
		color: var(--text-color);
		width: 77px;
		height: 24px;
		position: inherit;
		left: 0px;
		top: 0px;
		font-family: Poppins;
		text-align: center;
		font-size: 16px;
		letter-spacing: 0;
	}

	.vector_14 {
		width: 11px;
		height: 5px;
		position: inherit;
		left: 80px;
		top: 0px;
	}

	.notif {
		color: var(--default-color);
		width: 18px;
		height: 19.996456146240234px;
		position: inherit;
		left: 1000px;
		top: 6px;
	}

	.search {
		width: 91px;
		height: 24px;
		position: inherit;
		left: 34px;
		top: 0px;
		color: var(--default-color);
		font-family: Poppins;
		text-align: left;
		font-size: 16px;
		letter-spacing: 0;
	}

	.searchtext {
		width: 91px;
		height: 24px;
		position: inherit;
		left: 34px;
		top: 3px;
		color: var(--default-color);
		font-family: Poppins;
		text-align: left;
		font-size: 16px;
		letter-spacing: 0;
	}

	.searchicon {
		width: 17.9999942779541px;
		height: 17.9999942779541px;
		position: inherit;
		left: 0px;
		top: 4px;
	}

	.questions {
		width: 20px;
		height: 20px;
		position: inherit;
		left: 1037px;
		top: 6px;
	}
</style>