@{
	ViewData["Title"] = "NotFound";
}

<div class=boardmenu>
    <div class="container">
        <h1>404</h1>
        <p>The page you are looking for cannot be found.</p>
        <p>Please check the URL or go back to the <a href="/">homepage.</a></p>
    </div>
</div>

<style>
		.container {
			margin: 0 auto;
			text-align: center;
			padding: 50px;
		}

		h1 {
			font-size: 60px;
			color: var(--text-color);
			margin: 0;
			line-height: 1.2;
		}

		p {
			font-size: 24px;
			color: var(--default-color);
			margin-top: 20px;
			line-height: 1.5;
		}

		a:hover {
			text-decoration: underline;
		}
</style>