@{
    ViewData["Title"] = "Oops! Something Went Wrong";
}

<div class="boardmenu">
    <div class="container">
        <h1>Oops! Something Went Wrong</h1>
        <p>We're sorry, but something went wrong. Please try again later.</p>
        <a href="/">Go back to the homepage</a>
    </div>

    <style>
        .container {
            margin: 0 auto;
			text-align: center;
			padding: 50px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
            color: var(--text-color);
        }

        p {
            font-size: 20px;
            color: var(--default-color);
            margin-bottom: 20px;
        }

        a:hover {
			text-decoration: underline;
		}
    </style>
</div>
