@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Employees";
}

<div class=boardmenu>
    @Html.Partial("_TopBarPartial")
	<div class="container-list">
		@{
			for (int i = 0; i < 20; i++)
			{
				@Html.Partial("_EmployeeTilePartial");
			}
		}
	</div>
</div>

<style>
    .container-list {
		padding: 20px;
		margin-top: 140px;
		height: 850px;
		overflow-y: scroll;
	}

	.container-list::-webkit-scrollbar-thumb {
		background-color: var(--secondary-color);
		border-radius: 10px;
	}

	.container-list::-webkit-scrollbar {
		width: 0.3em;
		background-color: var(--primary-color);
	}
</style>