html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pms { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.sidebar { 
	width:224px;
	height:1024px;
	position:inherit;
	left:0px;
	top:0px;
}
.rectangle_1 { 
	box-shadow:7px -1px 12px rgba(0, 0, 0, 0.10999999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:224px;
	height:1024px;
	position:inherit;
	left:0px;
	top:0px;
}
.log_out { 
	width:24px;
	height:24px;
	position:inherit;
	left:43px;
	top:332px;
}
.projectname { 
	width:139px;
	height:24px;
	position:inherit;
	left:43px;
	top:32px;
}
.projecticon { 
	width:24px;
	height:24px;
	position:inherit;
	left:0px;
	top:0px;
}
.projectnametext { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:24px;
	position:inherit;
	left:40px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.dashboardselected:hover{
  background-color: #e5e5e5;
  position: inherit;
  height: 50px;
  width: 100%;
  top: 100px;
}
.pointer{
  cursor: pointer;
}
.dashboard { 
  width: 130px;
  height: 24px;
  position: inherit;
  top: 114px;
  padding-left: 100%;
  padding-bottom: 35px;
}
.dashboard:hover,
.dashboardtext:hover,
.boardbar:hover,
.boardtext:hover,
.analytics:hover,
.analyticstext:hover,
.settings:hover,
.settingstext:hover,
.logout:hover{
  background-color: #e5e5e5;
  color: black;
}
.dashboardicon {
  width: 24px;
  height: 24px;
  position: inherit;
  left: 43px;
  top: 5px;
}
.dashboardtext { 
	color:rgba(111.5625, 111.5625, 111.5625, 1);
	width:90px;
	height:24px;
	position:inherit;
	left:80px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.boardbar { 
	width:89px;
	height:24px;
	position:inherit;
	top:175px;
  padding-left: 100%;
  padding-bottom: 35px;
}
.boardicon { 
	width:24px;
	height:24px;
	position:inherit;
  left:43px;	
  top:5px;
}
.boardtext { 
	color:rgba(111.5625, 111.5625, 111.5625, 1);
	width:49px;
	height:24px;
	position:inherit;
	left:80px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.analytics { 
	width:115px;
	height:24px;
	position:inherit;
	top:235px;
  padding-left: 100%;
  padding-bottom: 35px;
}
.analyticsicon { 
	width:24px;
	height:24px;
	position:inherit;
	left:43px;
	top:5px;
}
.analyticstext { 
	color:rgba(111.5625, 111.5625, 111.5625, 1);
	width:75px;
	height:24px;
	position:inherit;
	left:80px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.settings { 
	width:106px;
	height:24px;
	position:inherit;
	top:296px;
  padding-left: 100%;
  padding-bottom: 35px;
}
.settingsicon { 
	width:24px;
	height:24px;
	position:inherit;
	left:43px;
	top:5px;
}
.settingstext { 
	color:rgba(111.5625, 111.5625, 111.5625, 1);
	width:66px;
	height:24px;
	position:inherit;
	left:80px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.logout { 
	width:96px;
	height:24px;
	position:inherit;
	top:916px;
  padding-left: 100%;
  padding-bottom: 35px;
}
.logouticon { 
	width:19px;
	height:18px;
	position:inherit;
	left:46px;
	top:3px;
}
.logouttext { 
	color:rgba(0, 0, 0, 1);
	width:59px;
	height:24px;
	position:inherit;
	left:80px;
	top:3px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.boardmenu { 
	width:1128px;
	height:997px;
	position:inherit;
	left:256px;
	top:27px;
}
.topbar { 
	width:1127px;
	height:121px;
	position:inherit;
	left:1px;
	top:0px;
}
.ellipse_1 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:32px;
	height:32px;
	position:inherit;
	left:1095px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}
.board { 
	color:rgba(0, 0, 0, 1);
	width:88px;
	height:44px;
	position:inherit;
	left:0px;
	top:77px;
	font-family:Poppins;
	text-align:left;
	font-size:29px;
	letter-spacing:0;
}
.filter { 
	width:96px;
	height:24px;
	position:inherit;
	left:1025px;
	top:89px;
}
.this_week { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:24px;
	position:inherit;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.vector_14 { 
	width:11px;
	height:5px;
	position:inherit;
	left:80px;
	top:0px;
}
.notif { 
	width:18px;
	height:19.996456146240234px;
	position:inherit;
	left:981px;
	top:6px;
}
.search { 
	width:91px;
	height:24px;
	position:inherit;
	left:34px;
	top:0px;
	color:rgba(111.5625, 111.5625, 111.5625, 1);
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.searchicon { 
	width:17.9999942779541px;
	height:17.9999942779541px;
	position:inherit;
	left:0px;
	top:4px;
}
.searchtext{
  width:91px;
	height:24px;
	position:inherit;
	left:34px;
	top:3px;
	color:rgba(111.5625, 111.5625, 111.5625, 1);
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.questions { 
	width:20px;
	height:20px;
	position:inherit;
	left:1037px;
	top:6px;
}
.inprogressselection { 
	width:360px;
	height:840px;
	position:inherit;
	left:384px;
	top:157px;
}
.rectangle_4 { 
	background-color:rgba(238.00000101327896, 242.00000077486038, 245.00000059604645, 1);
	width:360px;
	height:840px;
	position:inherit;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.inprogresssel { 
	width:311px;
	height:24px;
	position:inherit;
	left:25px;
	top:24px;
}
.in_progress { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:24px;
	position:inherit;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.inprogressadd { 
	width:14px;
	height:14px;
	position:inherit;
	left:265px;
	top:3px;
}
.inprogressmore { 
	width:16px;
	height:2px;
	position:inherit;
	left:295px;
	top:3px;
}
.doneselection { 
	width:360px;
	height:840px;
	position:inherit;
	left:768px;
	top:157px;
}
.rectangle_5 { 
	background-color:rgba(238.00000101327896, 242.00000077486038, 245.00000059604645, 1);
	width:360px;
	height:840px;
	position:inherit;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.donesel { 
	width:311px;
	height:24px;
	position:inherit;
	left:26px;
	top:19px;
}
.done { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:24px;
	position:inherit;
	left:0px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.doneadd { 
	width:14px;
	height:14px;
	position:inherit;
	left:265px;
	top:3px;
}
.donemore { 
	width:16px;
	height:2px;
	position:inherit;
	left:295px;
	top:3px;
}
.todoselection { 
	width:360px;
	height:840px;
	position:inherit;
	left:0px;
	top:157px;
}
.rectangle_3 { 
	background-color:rgba(238.00000101327896, 242.00000077486038, 245.00000059604645, 1);
	width:360px;
	height:840px;
	position:inherit;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.to_do { 
	color:rgba(0, 0, 0, 1);
	width:45px;
	height:24px;
	position:inherit;
	left:24px;
	top:24px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.todoadd { 
	width:14px;
	height:14px;
	position:inherit;
	left:289px;
	top:25px;
}
.todomore { 
	width:16px;
	height:2px;
	position:inherit;
	left:319px;
	top:25px;
}
.tile { 
	width:312px;
	height:207px;
	position:inherit;
	left:24px;
	top:72px;
}
.rectangle_292 { 
	background-color:rgba(255, 255, 255, 1);
	width:312px;
	height:207px;
	position:inherit;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.tiletitle { 
	width:106px;
	height:18px;
	position:inherit;
	left:24px;
	top:24px;
}
.design_system { 
	color:rgba(111.5625, 111.5625, 111.5625, 1);
	width:92px;
	height:18px;
	position:inherit;
	left:14px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.ellipse_2 { 
	border-radius:500px;
	background-color:rgba(64.00000378489494, 167.00000524520874, 55.00000052154064, 1);
	width:9px;
	height:9px;
	position:inherit;
	left:0px;
	top:1px;
}
.hero_section { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:27px;
	position:inherit;
	left:24px;
	top:44px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.create_a_design_system_for_a_hero_section_in_2_different_variants__create_a_simple_presentation_with_these_components_ { 
	color:rgba(0, 0, 0, 1);
	width:264px;
	height:59px;
	position:inherit;
	left:24px;
	top:79px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.tilemore { 
	width:16px;
	height:2px;
	position:inherit;
	left:272px;
	top:30px;
}
.user2 { 
	width:29px;
	height:29px;
	position:inherit;
	left:24px;
	top:154px;
}
.ellipse_3 { 
	border-radius:500px;
	background-color:rgba(254.00000005960464, 169.00000512599945, 70.00000342726707, 1);
	width:29px;
	height:29px;
	position:inherit;
	left:0px;
	top:0px;
}
.vh { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:18px;
	position:inherit;
	left:6px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.user1 { 
	width:29px;
	height:29px;
	position:inherit;
	left:48px;
	top:154px;
}
.ag { 
	color:rgba(255, 255, 255, 1);
	width:18px;
	height:18px;
	position:inherit;
	left:6px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}