@{
	ViewData["Title"] = "Home Page";
}

<div class=boardmenu>
	<h1>Analytics Page</h1>

	<div class="container">
		<div class="card blue">
			<h2>Employees</h2>
			<p>10</p>
		</div>

		<div class="card green">
			<h2>Projects</h2>
			<p>12</p>
		</div>
		<div class="card orange">
			<h2>My projects</h2>
			<p>2</p>
		</div>

		<div class="card">
			<h2>Tasks to do</h2>
			<p>5</p>
		</div>

		<div class="card">
			<h2>In progress tasks</h2>
			<p>7</p>
		</div>

		<div class="card">
			<h2>Сompleted tasks</h2>
			<p>1</p>
		</div>
	</div>
</div>

<style>
	h1 {
		margin: 0;
		font-size: 24px;
		font-weight: normal;
	}

	.container {
		max-width: 1200px;
		margin: 25px auto;
		padding: 20px;
		background-color: var(--third-color);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}

	.card {
		flex-basis: calc(33.33% - 20px);
		margin-bottom: 20px;
		background-color: var(--secondary-color);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		padding: 20px;
		box-sizing: border-box;
		position: relative;
	}

	.card h2 {
		margin-top: 0;
		font-size: 20px;
		font-weight: normal;
	}

	.card .icon {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 36px;
		color: var(--default-color);
	}

	.card:hover {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}

	.card.blue {
		background-color: #ccce50;
		color: var(--primary-color);
	}

	.card.blue .icon {
		color: var(--primary-color);
	}

	.card.green {
		background-color: #27ae60;
		color: var(--primary-color);
	}

	.card.green .icon {
		color: var(--primary-color);
	}

	.card.orange {
		background-color: #e67e22;
		color: var(--primary-color);
	}

	.card.orange .icon {
		color: var(--primary-color);
	}
</style>