@using PMS.Service.ViewModels.Auth

@model RegisterViewModel

@{
	ViewData["Title"] = "Register";
}

<div class="container">
	<h1>Register</h1>
	<form method="post">
		<div class="input-group mb-1 mt-3">
			<input asp-for="Email" type="email" class="form-control" autocomplete="email" placeholder="Your email" />
		</div>
		<span asp-validation-for="Email" class="text-danger"></span>

		<div class="input-group mb-1 mt-3">
			<input asp-for="FirstName" class="form-control" autocomplete="firstname" placeholder="Firstname" />
		</div>
		<span asp-validation-for="FirstName" class="text-danger"></span>


		<div class="input-group mb-1 mt-3">
			<input asp-for="LastName" class="form-control" autocomplete="lastname" placeholder="Lastname" />
		</div>
		<span asp-validation-for="LastName" class="text-danger"></span>

		<div class="input-group mb-1 mt-3">
			<input asp-for="Password" class="form-control" id="password" autocomplete="password"
				placeholder="Password" />
		</div>
		<span asp-validation-for="Password" class="text-danger"></span>

		<div class="input-group mb-1 mt-3">
			<input asp-for="ConfirmPassword" class="form-control" id="confirmPassword" autocomplete="confirmpassword"
				placeholder="Confirm password" />
		</div>
		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>

		<div class="row">
			<div class="col-4 offset-4 mt-2">
				<button type="submit" class="btn mt-3 text-center">Register</button>
			</div>
		</div>
		<p>Don't have an account? <a href="/auth/login">Login here.</a></p>
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show"></div>
	</form>
</div>


<style>
	.container {
		top: 110px;
		background-color: var(--third-color);
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		margin: 50px auto;
		max-width: 400px;
		padding: 30px;
		position: relative;
	}

	h1 {
		font-size: 28px;
		margin: 0;
		text-align: center;
	}

	form {
		margin-top: 20px;
	}

	label {
		color: var(--text-color);
	}

	button[type="submit"] {
		background-color: var(--button-color);
		color: var(--primary-color);
		border: none;
		border-radius: 5px;
		padding: 10px 20px;
		font-size: 16px;
		cursor: pointer;
		transition: all 0.3s ease;
	}

	button[type="submit"]:hover {
		background-color: var(--default-color);
		color: var(--text-color)
	}

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		border: 2px solid #ccc;
		border-radius: 5px;
		font-size: 16px;
		padding: 10px;
		width: 100%;
	}

	input[type="submit"] {
		margin-top: 10px;
		background-color: #4CAF50;
		border: none;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		font-size: 16px;
		padding: 10px;
		width: 100%;
	}

	input[type="submit"]:hover {
		background-color: #3e8e41;
	}

	p {
		margin-top: 20px;
		text-align: center;
		color: var(--default-color);
	}

	.error {
		color: red;
		font-size: 14px;
		margin-top: 10px;
		text-align: center;
	}
</style>