@using PMS.Service.ViewModels.Employee

@model IEnumerable<EmployeeViewModel>

@{
    var employeeId = ViewData["employeeId"] as string;
}

<div class="boardmenu">
  <div class="user-list-container">
    <div class="search-container">
      <input type="text" id="search-input" placeholder="Search">
    </div>
    <div class="user-list">
      @foreach (var employee in Model)
      {
        @Html.Partial("_ChatTilePartial", employee)
      }
    </div>
  </div>
</div>


<style>
  .user-list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .search-container {
    position: relative;
    width: 950px;
  }

  .search-container input {
    flex-grow: 1;
    height: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    background-color: #fff;
  }

  /* Search input */
  #search-input {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: var(--text-color);
    background-color: var(--secondary-color);
  }

  .user-list {
    padding: 20px;
    height: 850px;
    overflow-y: scroll;
  }

  .user-list::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
  }

  .user-list::-webkit-scrollbar {
    width: 0.3em;
    background-color: var(--primary-color);
  }
</style>