@{
	ViewData["Title"] = "Board";
}

<div class=boardmenu>
	@Html.Partial("_TopBarPartial")
	<div class=todoselection>
		<div class="rectangle_3">
			<div class="title">
				<span class="names">To do</span>
				<div class=add>
					<span class="material-symbols-outlined">
						add
					</span>
				</div>
				<div class=more>
					<span class="material-symbols-outlined">
						more_horiz
					</span>
				</div>
			</div>
			<div class="list">
				@{
					for (int i = 0; i < 10; i++)
					{
						@Html.Partial("_TilePartial")
					}
				}
			</div>
		</div>
	</div>
	<div class=inprogressselection>
		<div class="rectangle_3">
			<div class="title">
				<span class="names">In progress</span>
				<div class=add>
					<span class="material-symbols-outlined">
						add
					</span>
				</div>
				<div class=more>
					<span class="material-symbols-outlined">
						more_horiz
					</span>
				</div>
			</div>
			<div class="list">
				@{
					for (int i = 0; i < 4; i++)
					{
						@Html.Partial("_TilePartial")
					}
				}
			</div>
		</div>
	</div>
	<div class=doneselection>
		<div class="rectangle_3">
			<div class="title">
				<span class="names">Done</span>
				<div class=add>
					<span class="material-symbols-outlined">
						add
					</span>
				</div>
				<div class=more>
					<span class="material-symbols-outlined">
						more_horiz
					</span>
				</div>
			</div>
			<div class="list">
				@{
					for (int i = 0; i < 2; i++)
					{
						@Html.Partial("_TilePartial")
					}
				}
			</div>
		</div>
	</div>
</div>

<style>
	.inprogressselection {
		width: 360px;
		height: 840px;
		position: inherit;
		left: 384px;
		top: 157px;
	}

	.rectangle_3 {
		background-color: rgba(238.00000101327896, 242.00000077486038, 245.00000059604645, 1);
		width: 360px;
		height: 820px;
		position: inherit;
		left: 0px;
		top: 0px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.list {
		margin-top: 25px;
		height: 700px;
		overflow-y: scroll;
	}

	..list::-webkit-scrollbar-thumb {
		background-color: #ececec;
		border-radius: 10px;
	}

	.list::-webkit-scrollbar {
		width: 0.1em;
		background-color: #F5F5F5;
	}

	.doneselection {
		width: 360px;
		height: 840px;
		position: inherit;
		left: 768px;
		top: 157px;
	}

	.todoselection {
		width: 360px;
		height: 840px;
		position: inherit;
		left: 0px;
		top: 157px;
	}

	.title {
		position: relative;
		height: 60px;
	}

	.names {
		color: rgba(0, 0, 0, 1);
		width: 45px;
		height: 24px;
		position: relative;
		left: 24px;
		top: 24px;
		font-family: Poppins;
		text-align: left;
		font-size: 16px;
		letter-spacing: 0;
	}

	.add {
		width: 14px;
		height: 14px;
		position: relative;
		left: 289px;
	}

	.more {
		width: 16px;
		height: 2px;
		position: relative;
		left: 319px;
		bottom: 15px;
	}
</style>